# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/
*.env
*.env.*

# Cache
cache/
*.log
*.cache/

# Database
*.db
*.sqlite3

# FastAPI
*.pid
*.sock
*.pem
*.crt
*.key

# IDE and editor settings
.idea/
.vscode/
*.code-workspace

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.orig

# Coverage reports
.coverage
htmlcov/
.coverage.*

# Testing
.tox/
.nox/
pytest_cache/
test-results.xml
junit.xml

# Build artifacts
build/
dist/
*.egg-info/
*.egg
*.whl

# Static and media files
staticfiles/
mediafiles/

# Miscellaneous
.DS_Store
Thumbs.db

# Documentation
mcq
summaries

# Local configuration files
.cursorignore
.github/instructions
.cursor

file_uploads/*

# Logs
logs/*.log
logs/*.log.*
logs/*.gz
!logs/README.md