fastapi
uvicorn
gunicorn
pydantic
pydantic-settings
google-genai
python-dotenv
python-multipart
google-generativeai
httpx
psycopg2-binary
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
alembic
google
cryptography
email-validator
requests

structlog
python-json-logger
psutil
structlog