{% extends "base.html" %}

{% block title %}Reset Your Password - {{ app_name }}{% endblock %}

{% block header_subtitle %}Password Reset Request{% endblock %}

{% block content %}
    <div class="greeting">
        Hello {{ user_name }}!
    </div>
    
    <div class="message">
        We received a request to reset the password for your {{ app_name }} account. If you made this request, 
        click the button below to reset your password.
    </div>
    
    <div class="button-center">
        <a href="{{ reset_url }}" class="button">Reset Password</a>
    </div>
    
    <div class="security-notice">
        <strong>Important Security Information:</strong><br>
        • This password reset link will expire in {{ expire_hours }} hour{{ 's' if expire_hours != 1 else '' }} for your security<br>
        • If you didn't request this password reset, please ignore this email<br>
        • Your password will remain unchanged until you create a new one
    </div>
    
    <div class="alternative-text">
        <strong>Can't click the button?</strong><br>
        Copy and paste this link into your browser:<br>
        <a href="{{ reset_url }}">{{ reset_url }}</a>
    </div>
    
    <div class="message" style="margin-top: 25px;">
        <strong>Tips for a secure password:</strong>
        <ul style="margin: 10px 0; padding-left: 20px; color: #555;">
            <li>Use at least 12 characters</li>
            <li>Include uppercase and lowercase letters</li>
            <li>Add numbers and special characters</li>
            <li>Avoid using personal information</li>
            <li>Consider using a password manager</li>
        </ul>
    </div>
    
    <div class="message">
        If you continue to have problems accessing your account, please contact our support team.
    </div>
{% endblock %}
